

.hover-strong-white:hover {
  color: white !important;
  font-weight: 700 !important;
}

.previous {
  margin-right: 7px;
  padding: 6px;
  cursor: pointer;
}

.current {
  margin-right: 7px;
  padding: 6px;
  cursor: pointer;
}

.next { 
  padding: 6px;
  cursor: pointer;
}

.padding-6 {
  padding: 6px;
}


.swal2-confirm {

  background-color: #cb0101 !important;
}